body{
    background-color: black;
    color: white;
}

@font-face {
            font-family:'monster_friend_foreregular';
            src: url('font/monsterfriendfore-webfont.woff2') format('woff2'),
                 url('font/monsterfriendfore-webfont.woff') format('woff');
            font-weight: normal;
            font-style: normal;
        }

        
        h1
        {
            font-family: 'monster_friend_foreregular';
        }

.form{
    width: 200px;
}
